body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-reset {
  border: none;
  background-color: transparent;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li > a.active {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
  border-left-color: #ffffff;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a:not(.active) {
  color: unset;
  background: unset;
  border: none;
}
.modal-content {
  background-color: black !important;
}
